/*ÂÖ²¥ÑùÊ½*/
@CHARSET "UTF-8";
 #father #a
     {
     position:absolute;
     }
        *{ padding:0; margin:0; list-style:none; border:0;}
        .all{
            width:700px;
            height:400px;
            padding:7px;
            border:1px solid #74adaa;
    		position: absolute;        	
   	        top: 150px;        	
   	        left: 300px; 
        }
        .screen{
            width:700px;
            height:400px;
            overflow:hidden;
            position:relative;
        }

        .screen li{ width:700px; height:400px; overflow:hidden; float:left;}
        .screen ul{ position:absolute; left:0; top:0px; width:3000px;}
        .all ol{ position:absolute; right:10px; bottom:10px; line-height:20px; text-align:center;}
        .all ol li{ float:left; width:20px; height:20px; background:#fff; border:1px solid #ccc; margin-left:10px; cursor:pointer;}
        .all ol li.current{ background:yellow;}

        #arr {display: none;}
        #arr span{ width:40px; height:40px; position:absolute; left:5px; top:50%; margin-top:-20px; background:#000; cursor:pointer; line-height:40px; text-align:center; font-weight:bold; font-family:'ºÚÌå'; font-size:30px; color:#fff; opacity:0.3; border:1px solid #fff;}
        #arr #right{right:5px; left:auto;}